<%= form_tag({},multipart:true) do %>
    <%= text_area_tag 'text' %>
    <%= submit_tag 'Submit' %>   
<% end %>
<!-- <p><%= $cur_uid.to_i.inspect%></p> -->
<!--<span style = "visibility:hidden"><%= $cur_uid = 0 %></span> -->
